.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('../../assets/aboutPageImage.jpg');
  background-repeat: round;
  height: 100vh;
  width: 100vw;
}

.author, .app-desrciption, .resources {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 95vw;
  background-color: #000000c7;
  color: white;
  padding-bottom: 2vh;
}

.author-img {
  width: 18vw;
}

a {
  color: white;
}

.to-landing-page-btn {
  width: 20vw;
  height: 8vh;
}

.to-dashboard-page-btn {
  width: 30vh;
  height: 8vh;
}

.btns-container {
  display: flex;
}

@media only screen and (max-device-width : 650px) {
  .to-landing-page-btn {
    width: 25vw;
  }
}
